body {
    margin: 0px;
    padding: 0px;
    background-color: ;
}

.d11 {
    margin-left: 15px;
}

.d123 {
    
    display: flex;
    align-items: center;
    
}

.d12 {
    float: right;
    align-items: end;
    height: 28px;
    border: 2px solid black;
}

.but {
    
    margin-left: 5px;
    border: 2px solid black;
    height: 32px;
}
.single {
    margin-left: 57%;
}
ul {
    list-style-type: none;
    /* border: 3px solid black; */
    background-color: pink;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 3px solid black;
    width: 100%;
}

li {
    float: left;
    padding:5px 10px;
    width:6.87%;
    text-align: center;
    /* border: 3px solid black; */
    /* margin: 10px; */
    border-right: 3px solid black;
}

li a {
    text-decoration: none;
    font-weight: bolder;
}

.d1 {
    overflow:auto;
}
